<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="style/bootstrap.min.css">
	<script src="libs/jquery-1.11.2.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-ui-router.min.js"></script>
	<script src="app.js"></script>
   <link rel="stylesheet" href="style/style.css"></link>
</head>
<style type="text/css">
body{
	background-color: brown;
}
.main{
	background-color: white;
   margin-top: 40px;
}
.table{
   float:left;
}
h1{
   color: green;
}
</style>
<body ng-app="app" ng-controller="MainCtrl">
	<h1>
		Seat picker App
	</h1>
   <div class="container main">
   	<div class="jumbotron">
   		<form name="tickets">
   			<label>Name :</label>
   			<input type="text" ng-model="name">
   			<label>Seats:</label>
   			<input type="number" max="6" ng-model="number" name="seats">
   			<button ><a ui-sref="book">Book</a></button>
   		</form>

   	</div>
   	<div ui-view></div>
   	</div>
</body>
</html>
